.dialogs {
	display: grid;
	grid-template-columns: 2fr 10fr;
	line-height: 30px;
	font-size: 24px;
}

.dialog {
	margin-top: 15px;
}

.dialog a {
	color: var(--color-text);
	text-decoration: none;
}

.dialog a:hover {
	border-bottom: 2px solid #757575;
}

.dialogs__items {
	border-right: 1px solid var(--color-text);
	margin: 0px 20px 0px 0px;
}

.messages {
}

.message {
	margin-top: 15px;
}

.messages__send {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.messages__send textarea {
	font-size: 24px;
	width: 660px;
	height: 100px;
	margin-top: 15px;
	resize: none;
	border: none;
	outline: none;
	border-radius: 5px;
}

.messages__send button {
	float: right;
	margin: 7px 129px 0px 0px;
}
