.dialogs {
	display: grid;
	grid-template-columns: 2fr 10fr;
	line-height: 30px;
	font-size: 24px;
}
.dialog {
	margin-top: 15px;
	a {
		color: var(--color-text);
		text-decoration: none;
		&:hover {
			border-bottom: 2px solid #757575;
		}
	}
}
.dialogs__items {
	border-right: 1px solid var(--color-text);
	margin: 0px 20px 0px 0px;
}
.messages {
}
.message {
	margin-top: 15px;
}
.messages__send {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	textarea {
		font-size: 24px;
		width: 660px;
		height: 100px;
		margin-top: 15px;
		resize: none;
		border: none;
		outline: none;
		border-radius: 5px;
	}
	button {
		float: right;
		margin: 7px 129px 0px 0px;
	}
}
.btnSend {
	margin: 5px 0px 0px 2px;
	padding: 10px 4px;
	background-color: var(--color-text);
	width: 130px;
	outline: none;
	border: none;
	border-radius: 5px;
	text-decoration: none;
	cursor: pointer;
	&:hover {
		-moz-box-shadow: 0 0 3px #000;
		-webkit-box-shadow: 0 0 3px #000;
		box-shadow: 0 0 3px #000;
	}
}
