.content {
	grid-area: c;
	border-radius: 20px;
	padding: 20px;
	background-color: #efebe9;
}
.img__top {
	border-radius: 5px;
	object-fit: cover;
}
.img__avatar {
	margin-top: 10px;
	border-radius: 5px;
}
