.pagiNumber {
	display: flex;
	justify-content: center;
	margin-top: 36px;
	margin-bottom: -10px;
}

.paginationItem {
	width: 44px;
	border-radius: 4px;
}

.pageLink {
	display: flex;
	justify-content: center;
	color: #ec7494;
}
