.header {
	display: grid;
	width: 100%;
	grid-template-rows: 15px;
	grid-area: h;
	border-radius: 20px;
	background-color: #ffe0b2;
}

.header img {
	width: 45px;
	height: 45px;
	margin: 7px 0px 0px 10px;
}

.authBlock {
	display: flex;
	justify-content: flex-end;
	margin: 0px 26px 0px 0px;
	font-weight: bold;
	font-size: 24px;
	height: 100%;
}
